.main-body {
    min-height: 50vh !important;
    width: 100vw !important;
    overflow-x: hidden !important;
}


body {
    max-width: 100vw !important;
    overflow-x: hidden !important;
}

.header-bot {
    padding: 10px 0 !important;
}

@media (min-width: 1200px) {
    .header-bot .container {
        width: 100% !important;
        max-width: 100% !important;
    }
}

.logo_agile {
    display: flex !important;
    justify-content: left !important;
    align-items: center !important;
    padding: 0 !important;
    padding-left: 5% !important;
}

.header-info {
    display: flex !important;
    align-items: center !important;
    padding: 0 !important;
}

.header-info-item {
    margin: 0 5px !important;
}

.header .row {
    display: flex !important;
    justify-content: center !important;
}

.log-in {
    background: #808080 !important;
    border-color: #808080 !important;
}

    .log-in:hover {
        background: #373535 !important;
    }

.sign-up {
    background: #F45C5D !important;
}

    .sign-up:hover {
        background: #ff0000 !important;
    }

.cart-icon {
    color: #fff !important;
    background: #F45C5D !important;
}

.cart-icon:hover {
    background: #ff0000 !important;
}

.img-fluid {
    max-width: 70% !important;
}

.thumb-image {
    display: flex !important;
    justify-content: center !important;
    align-items: start !important;
}

.flex-control-thumbs {
    display: flex !important;
    justify-content: center !important;
}

.flex-control-thumbs > li {
    width: 20% !important;
}

.tittle-w3l span {
    color: #F45C5D !important;
}

.item-specs {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-right: 10px !important;
    list-style: none !important;
}

.label {
    display: inline-block;
    padding: 10px 10px;
    line-height: 15px;
    font-weight: 600;
    border-radius: 4px;
    font-size: 85%;
}

.spec-name {
    color: #F45C5D;
}

.label-specs, li {
    list-style: none !important;
}

.label-price {
    background: #F45C5D !important;
    color: #fff !important;
}

.label-add-to-cart {
    margin-top: 10px;
    background: #808080 !important;
    color: white;
}

.original-price {
    line-height: 15px;
    font-weight: 600;
    font-size: 85%;
}


.offer-item-link > a {
    color: #000 !important;
}

    .offer-item-link:hover {
        background: #f8f3f3 !important;
    }

.product-single-w3l {
    border-top: 1px solid #dee2e6 !important;
}
.tab-content {
    border-bottom: 1px solid #dee2e6 !important;
}